/*
 * Copyright 2012, 2013, 2016 Matt Kenney
 *
 * This file is part of Feedsquish.
 *
 * Feedsquish is free software: you can redistribute it and/or modify it under
 * the terms of the GNU Affero General Public License as published by the Free
 * Software Foundation, either version 3 of the License, or (at your option) any
 * later version.
 *
 * Feedsquish is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
 * details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Feedsquish.  If not, see <http://www.gnu.org/licenses/>.
 */


a, a:active, a:focus, a:hover
{
    color: #090;
    text-decoration: none;
}

body
{
    background-color:#e1e1e1;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14pt;
    margin:0;
    -webkit-text-size-adjust:none;
}

h1,h2
{
    font-size:medium;
}

html
{
    overflow-y:scroll;
}

img
{
    border:0;
    height:auto;
    max-width:100%;
}

input[type=submit],select
{
  background-color: #0b5;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  height: 3.5ex;
}

td
{
    padding:0 0.5ex;
}

.article
{
/*
    background-image: linear-gradient(rgba(0, 0, 0, 0.05) 1.75em, transparent 0);
    background-size: auto 3.5em;
*/
    line-height: 1.75em;
    max-width: 66ex;
    padding: 0 0.3em;
}

.buttons
{
    background-color:#e1e1e1;
    border-bottom:1px solid #909090;
    height:47px;
    position:fixed;
    width:100%;
}

.content
{
    background-color:#fff;
    padding:51px 4px 4px;
}

.dateline
{
    font-style:italic;
    padding:0.3ex;
}

.feedname
{
    font-size:88%;
    padding:0.5ex;
    vertical-align:top;
    white-space:nowrap;
    width:5.5em;
}

.field
{
    vertical-align:bottom;
}

.footer
{
    background-color:#fff;
    margin:0;
    padding-bottom:1ex;
}

.footer input[type=submit]
{
    display:none;
}

.footer .wide
{
    height:auto;
}

.hrefhint
{
    font-size:50%;
}

.idem-switch
{
    margin-top:2ex;
}

.index
{
    background-color:#fff;
    padding-top:47px;
}

.index-table
{
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
}

.index-title
{
    padding:0.5ex;
}

.links
{
    padding-top:0.5ex;
}

.narrow
{
    width:1%;
}

html.night,
.night input[type=submit],
.night select,
.night .buttons,
.night .content,
.night .footer,
.night .index,
.night .odd,
.night .setup
{
    background-color: #000;
    color: #999;
}

.night .night-off
{
    display:none;
}

.night-on
{
    display:none;
}

.night .night-on
{
    display:block;
}

.odd
{
    background-color:#e1e1e1;
    padding:0.5ex;
}

.required
{
    font-weight:bold;
}

.right
{
    text-align:right;
}

.setup
{
    padding:0.5ex;
}

.single
{
    font-size:90%;
}

.testout
{
    margin-top:1ex;
}

.testout-pre
{
    background-color:#fff;
    border:1px solid #909090;
    margin:0.5ex;
    padding:0.5ex;
}

.title
{
    font-style:italic;
    padding:0.3ex;
}

.wide
{
    font-size:80%;
    font-weight:normal;
    height:47px;
    width:100%;
    white-space:nowrap;
}
