/*
 * Copyright 2012 Matt Kenney
 *
 * This file is part of Feedsquish.
 *
 * Feedsquish is free software: you can redistribute it and/or modify it under
 * the terms of the GNU Affero General Public License as published by the Free
 * Software Foundation, either version 3 of the License, or (at your option) any
 * later version.
 *
 * Feedsquish is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
 * details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Feedsquish.  If not, see <http://www.gnu.org/licenses/>.
 */

a
{
    color:#333;
}

body
{
    background-color:#e1e1e1;
    font-family:sans-serif;
    margin:0;
    -webkit-text-size-adjust:none;
}

h1,h2
{
    font-size:medium;
}

html
{
    overflow-y:scroll;
}

img
{
    border:0;
}

td
{
    padding:0 0.5ex;
}

.action
{
    font-size:75%;
}

.buttons
{
    border-bottom:1px solid #cbc1b7;
}

.content
{
    background-color:#fff;
    padding:0.5ex;
}

.dateline
{
    font-style:italic;
}

.feedname
{
    font-size:88%;
    padding:0.5ex;
    vertical-align:top;
    white-space:nowrap;
    width:5.5em;
}

.field
{
    vertical-align:bottom;
}

.footer
{
    border-top:1px solid #cbc1b7;
    margin:0;
}

.hrefhint
{
    font-size:50%;
}

.index
{
    background-color:#fff;
}

.index-table
{
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
}

.index-title
{
    padding:0.5ex;
}

.links
{
    padding-top:0.5ex;
}

.narrow
{
    width:1%;
}

.odd
{
    background-color:#e1e1e1;
    padding:0.5ex;
}

.required
{
    font-weight:bold;
}

.right
{
    text-align:right;
}

.setup
{
    margin:0.5ex;
}

.single
{
    font-size:90%;
}

.testout
{
    margin-top:1ex;
}

.testout-pre
{
    background-color:#fff;
    border:1px solid #cbc1b7;
    margin:0.5ex;
    padding:0.5ex;
}

.title
{
    font-style:italic;
}

.wide
{
    font-size:80%;
    font-weight:normal;
    height:30px;
    width:100%;
    white-space:nowrap;
}

