{% extends "_base.html" %}
{#

Copyright 2012, 2014 Matt Kenney

This file is part of Feedsquish.

Feedsquish is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

Feedsquish is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with Feedsquish.  If not, see <http://www.gnu.org/licenses/>.

#}
{% block content %}
<div class="setup">
<div><a href=".." class="action">back to article list</a></div>
Feeds:
<table>
{% for feed in feeds %}
<tr><td><a href="{{ feed.subid|encode_segment }}/">{{ feed.feedName }}</a></td></tr>
{% endfor %}
{% if not feeds %}
<tr><td><i>No feeds.</i></td></tr>
{% endif %}
</table>
<a href="add.html" class="action">add</a>
<br /><br />
<a href="../auth_logout" class="action">sign out</a>
</div>
{% endblock %}
